@import "../../style/variable";

.card-container {
  position: relative;
  margin: 1rem .625rem;
  width: 200px;
  text-align: center;

  img {
    width: 185px;
    height: 278px;
  }

  .movie-title {
    color: $text-hover;
  }

  &:hover {
    cursor: pointer;

    img {
      opacity: .6;
    }
  }
}
