.card-container {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 1rem .625rem;
  align-items: center;

  width: 200px;
  max-width: 200px;
  max-height: 282px;

  img {
    width: 200px;
    max-width: 200px;
    max-height: 282px;
  }
}
