<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text">Cinema</span>
        <mat-icon aria-hidden="true">double_arrow</mat-icon>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link" routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="link-text">Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon>event</mat-icon>
        <span class="link-text">Events</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAuth">
      <a href="#" class="nav-link">
        <mat-icon>bookmarks</mat-icon>
        <span class="link-text">Bookmarks</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAuth">
      <a href="#" class="nav-link">
        <mat-icon>settings</mat-icon>
        <span class="link-text">Settings</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link" *ngIf="isAuth; else loginBlock" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="link-text">Logout</span>
      </a>
      <ng-template #loginBlock>
        <a href="#" class="nav-link" routerLink="/login">
          <mat-icon>fingerprint</mat-icon>
          <span class="link-text">Login</span>
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
